body{
    margin: 0;
    /* height: 50000px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    position: relative;
    z-index: 2;
}

.toplist{
    height: 75px;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 350px;
    background-color: #2690BF;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topright{
    display: flex;
    list-style: none;
    /* gap: 15px; */
    text-align: center;
    margin: 50px;
}
.topleft{
    display: flex;
    gap: 0px;
}
.topcenter{
    font-size: 25px;
}
.bottom{
    display: flex;
    list-style: none;
    padding: auto;
    margin: 10px 550px;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.right{
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: unset;
    border-bottom: unset;
    padding: 8px 20.5px;
    
}
.fa-solid fa-chevron-down{
    font-size: small;
}
.dropdown{
    display: none;
    background-color: white;
    list-style: none;
    position: fixed;
    border-top: solid #2690BF;
    border-radius: 5px;
    width: 120px;
    text-align: left;
    margin: 10px;
    padding: 10px;
}
.home{
    display: block;
    /* border-top: solid #2690BF;
    border-radius: 5px; */
}
.langu{
    background-color: #2690BF;
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    /* display:none; */

}
.sideleft{
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: unset;
    border-bottom: unset;
    border-right: unset;
    padding: 5px 20.5px;
    cursor: pointer;
}
.liss{
    margin: 10px;
    background-color: white;
    color: #000;
}
.liss:hover{
    background: white;
    color: #DEB887;
    margin: 15px;
}
.home:hover{
    color: #DEB887;
}
.right:hover{
    background-color: #DEB887;
}
.logg{
    width: 400px;
    height: 100%;
    float:inline-end;
    position: absolute;
    display: none;
    right: 0;
    transform: translate(400) 2s;
    z-index: 4;
    background-color: white;
}
.headlog{
    font-size: 35px;
    margin-left: 20px;
}
.sub{
    background-color: #2690BF;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #2690BF;
    padding: 12px 25px; 
    font-size: 14px; 
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
}
.txt{
    width: 80%;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, .05);
    margin: 10px;
    align-items: center;
}
.sidelogin{
    /* margin-right: 40px; */
    border: none;
}
select option{
    background-color: white;
    color: #000;
}
.logg:hover {
    transform: translate(0) 2s;
    width: 400px;
}

.bigimg{
    height: 700px;
    width: 1320px;
    margin: auto;
    background-color: burlywood;
}
/* Button Formating */
.picchng{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}
.button{
    background-color: #2690BF;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #2690BF;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
}
.button:hover{
    background-color: #2690bf2b;
    color: #2690BF;
    font-size: 22px;
}

.slide img{
    display: none;
    width: 604px;
    height: 400px;
    margin: auto;
    top: 50%;
    left: 50%;
    vertical-align: middle;
}
.menbut{
    padding: 200px;
}
.menubtn{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.ff{
    background-color: #2690bf2b;
    color: #2690BF;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #2690bf2b;
    border-radius: 3px;
    padding: 10px 30px;
    border-bottom:3px solid #2690BF;
    cursor: pointer;
}
.menupics{
    display: flex;
}
.colddrink{
    display: none;
    /* display: flex; */
    gap: 50px;
}
.coffee{
    display: none;
    /* display: flex; */
    gap: 50px;
}
.colddrink div{
    margin: 50px 0px;
    /* display: flex; */
    gap: 100px;
    border-radius: 5px;
    box-shadow: 5px #888888;
    border: 1px solid #888888;
    /* display: flex; */
}
.coffee div{
    margin: 50px 0px;
    /* display: flex; */
    gap: 100px;
    border-radius: 5px;
    box-shadow: 5px #888888;
    border: 1px solid #888888;
    /* display: flex; */
}
.menupics img{
    padding: 5px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.menupics h4{
    text-align: center;
}
.fast{
    display: none;
    /* display: flex; */
    gap: 50px;
}
.fast div{
    margin: 50px 0px;
    /* display: flex; */
    gap: 100px;
    border-radius: 5px;
    box-shadow: 5px #888888;
    border: 1px solid #888888;
    /* display: flex; */
}
.tea{
    display: none;
    /* display: flex; */
    gap: 50px;
}
.tea div{
    margin: 50px 0px;
    /* display: flex; */
    gap: 100px;
    border-radius: 5px;
    box-shadow: 5px #888888;
    border: 1px solid #888888;
    /* display: flex; */
}